*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "noto serif",Georgia,Times,times new roman,serif;
    box-sizing: border-box;
}
/*img{
    height: 40px;
    width: 40px;
}
.logo, .search{
    float: left;
    width: 50px;  HOW TO REMOVE img BACKGROUND*/


.wrapper .top_nav
{
    width: 100%;
    height: 120px;

    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .top_nav .left
{
    display: flex;
    align-items: center;   
}
.logo img
{
    width: 140px;
    height: 100px;
}
.logo, .search
{
    padding: 10px;
}
/*.wrapper .top_nav .left .logo p
{
    font-size: 24px;
    font-weight: 24px;
    color: #494949;
    margin-right: 25px;
}
.wrapper .top_nav .left .logo p span
{
    font-family: 'Franklin Gothic Medium';
    color: rgba(204, 8, 8, 0.8);
}*/
.wrapper .top_nav .left .search input[type="text"]
{
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    
}
.wrapper .top_nav .left .search input[type="text"]:focus
{
   width: 250px;
}
/* REMEMBER TO USE FLOAT TO SIMPLIFY THEM ALL*/
.wrapper .top_nav .right ul/* OR Add li to it and float:left +Padding */
{
    display: flex;
 }
 .wrapper .top_nav .right ul li/* OR Add li to it and float:left +Padding */
{
    margin: 0 12px;
 }
 .wrapper .top_nav .right ul li a
{
   color:  #494949;;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 14px;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

 .wrapper .top_nav .right ul li:last-child
 {
     background: #10d310;
     margin-right: 0;
     border-radius: 3px;
     text-transform: uppercase;
     letter-spacing: 3px;
     padding: 2px;
 }
 .wrapper .top_nav .right ul li:hover:last-child
 {
    background: tomato;
 }
 .wrapper .bottom_nav 
    { width: 100%;
     background: #f9f9f9;
     height: 45px;
     padding: 0  50px;    
 }
 .wrapper .bottom_nav ul
 {
    padding: 0;
    margin: 0;
    list-style-type: none;
 }
 .wrapper .bottom_nav ul li
{
    float: left;
    height: 40px;
    width: 300px;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    
}
.wrapper .bottom_nav ul li a
{
    text-decoration: none;
    font-family: "noto serif",Georgia,Times,times new roman,serif;
    color: blue;
    display: block;  
}
.wrapper .bottom_nav ul li a:hover
{
    background-color: gray;
    color: white;
    opacity: 1.0;
    border-bottom: 1px solid black; 
}
.wrapper .bottom_nav ul li ul li
{
    display: none;
    background-color: wheat;
}
.wrapper .bottom_nav ul li ul li a
{
    color: #050402;
}
.wrapper .bottom_nav ul li:hover ul li
{
    display: block;
}

 /*.wrapper .bottom_nav/*Give background to wrapper to affect all the  nav
 {
     width: 100%;
     height: 65px;
     padding: 0  50px;    
 }
 .wrapper .bottom_nav ul
 {
     width: 100%;
     height: 45px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 /*.wrapper .bottom_nav ul li
 {
    float: left;
    padding: 10px;
   height: 40px; 
 }*/
 /*.wrapper .bottom_nav ul li a
 {
    display: block;
    width: 100%;
    text-align: center;
    height: 35px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 35px;
    border-bottom: 1px solid #ccc;
    
 }
 .wrapper .bottom_nav ul li a:hover
 {
     
     color: black;
    padding: 10px;
 } */
 #box
 {
     height: 200px;
     width: 100%;
     background: rgb(61, 137, 167);
     text-align: center;
     color: white;
     
 }

 #fbox
 {
     width: 100%;
     background:#f3e4c5 ;
     margin: 0;
     padding: 0;
    
     height: 400px;
 }
 #fboxitem p
 {
     border-bottom: 4px solid rgba(0, 0, 0, 0.205);
 }
 .boxitem h1
 {
    font-family: "noto serif",Georgia,Times,times new roman,serif;
    font-size: 2.875rem;
    line-height: 1.8;
    font-weight: 600;
    padding-top: 60px;
 }

 * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  #javabox
  {
      background:#c7c5c1 ;
      padding-top: 10px;
  }
  #javabox h2
  {
     letter-spacing: 3px;
    
  }
  .angelfloat img
  {
      width: 150px;
      height: 150px;
  }
  /* The grid: Three equal columns that floats next to each other */
  .column {
    float: left;
    width: 30%;
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
    
  }
  .column:first-child {
    margin-left: 40px;
  }
  
  .containerTab {
    padding: 20px;
    color: white;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    margin: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the container tab */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  .closebtn:hover {
    color: black;
  }
 
 #fbox hr
 {
     margin: 0 0 8px 0;
     padding:  0 0 8px 0;
     background: red;
 }
 #fbox1 img, #fbox2 img
 {
     height: 80px;
     width: 80px;
 }
 .img1,.img2,.img3
 {
     float: left;
     width: 350px;  
     transition: color .3s ease 0s  
 }
 /* Clear floats after the columns. ADD IT TO THE WRAPPER FOR THE FLOATING LISTS
.row:after {
    content: "";
    display: table;
    clear: both;
  } */
 #fbox1 p
 {
    margin-top: 10px; 
 }
 .flt
 {
     display: inline-block;
     margin: 5px; 
 }
 #fbox1,#fbox2
 {
     float: left;
     margin: 40px;
     background-color: rgb(49, 168, 168);
 }
 #fbox a h2
 {
     color: #e71414;
 }
 #fbox a p
 {
     color:blue;
 }
 .img1:hover,.img2:hover,.img3:hover/*TRANSITION i.e GROWING AND SHRINKING*/
 {
     transform: scale(1.1);  
     opacity: 0.7;  
 }
 #fbox h2:hover
 {
    transform: scale(0.6)   
 }
 /*FLOAT WITH DOWNLOAD BUTTON*/
 #download
 {
    height: 600px;
    width: 100%;
 }
 #download .page
 {
    float: left;
    padding: 10px;
 }
 #download .left
 {
    width: 60%;
    background: #c8cfc5;
    margin-left: 50px; 
    height: 600px; 
 }
 #download .left .sidebox
 {
    float: left;
    width: 300px;
    padding: 20px;
    margin: 5px;
    line-height: 1.6;
    font-size: 18px;
 }
 
 #download .right
 {
    width: 20%;
    height: 100%;
    background: #a9aca9;
    border-left: 1px solid black;
    height: 600px;
 }
 #download .right h2
 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 3px solid gray;
 }
 #download .right .cover
 {
    border: 2px double #b08b57;
    background: #7e7575;
    
 }
 #download .right .cover p
 {
      padding: 20px;
      color: #050402;
 }
  .cover  .dwnldbtn
 {
    background: dodgerblue;
    width:100%;
    height: 70px;
    color:#bb0000 ;
    cursor: pointer;
}




 #nav2/*Give background to wrapper to affect all the  nav*/
 {
     width: 100%;
     background: #2B286F;
     height: 45px;
     padding: 0  50px;    
 }
 #nav2 ul
 {
     width: 100%;
     height: 45px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 #nav2 ul li a
 {
    color: #FFBF0D;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 12px;
 }
 #nav2 ul li a:hover
 {
     background: gray;
     color: white;
    padding-right: 10px;
 }
 #footer1
 {
    overflow: auto;
    padding: 10px 20px;
    background: #c7c5c1;
    border-top: 1px solid #b08b57;
    border-radius: 6px solid #2B2834;
    width: 100%;
    height: 250px;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

  #footer1 .boxfloat
 {
     float: left;
     width: 30%;
     padding: 10px;
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .fpp a
 {
    color: red;
}
#footer1 .boxfloa .fa fa-instagram
 {
    color:rgb(64, 93, 230t);
}
#footer1 .boxfloa .fa fa-twitter-square
 {
    color: rgb(29, 161, 242);
} 
#footer1 .boxfloat .fa fa-facebook-official
 {
    color: /*#3b5998*/royalblue;
}
    #dynamic-box
    {
        margin-left: 150px;
        margin-right: 300px;

    }
    #dynamic-float
    {
      display: inline;
      line-height: 40px;
    }
    #dynamic-box
    {
        height: 320px;
        width: 70%;
        background: #c7c5c1/*white*/;
        padding-top: 20px;
        border-bottom: 1px solid white;
    }
    .scrollwrap
        {
            height: 500px;
            overflow: hidden;
            overflow-y: scroll;
        }
        .scrollwrap .scrollhead
        {
           text-align: center;
        }

    .dynafloat
    {
        float: left;
        width: 200px;
        margin: 0px 30px;
    }
    
    .dynafloat img
    {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0px  10px 0px 120px;
    }
    #dynamic-box h2
    {
        color: #528d3a;
        font-weight: 800px;
        margin-left: 100px;
        padding: 10px;
    }
    .dynafloat p
    {
        font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 18px;
        width: 400px;
        line-height: 1.4;   
    }
    #more {display: none;
        font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;}
        .dynafloat #myBtn
        {
            padding: 5px;
            background: #ffffff;
            color: blue;
            border-radius: 5px;
            cursor: pointer;
        }
.btn 
{
   cursor: pointer;
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    width: 100px;
    
}
.btn1
{
    cursor: pointer;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
    width: 150px;
}
.btn4
{
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    width: 100px;
    color: #FFBF0D;
    font-weight: 400;
}

.btn:focus,.btn1:focus
{
width: 250px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram
  {
      background: #c94747;
      color: white;
  }
  .fa-whatsapp{
      background: #0d610a;
      color: white;
    }
    .fa-youtube {
      background: #bb0000;
      color: white;
    }
footer
{ 
    overflow: auto;
    padding: 10px 20px;
    background: #2B286F;
    border-top: 1px solid #b08b57;
    border-radius: 6px solid #2B2834;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
}




